.shop_container{
    display: grid;
    grid-template-columns:4fr 1fr ;
}
.players_container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 45px;
}
.cart_container{
    position: sticky;
    background-color: #195c9b;
    border: none;
    border-radius: 20px;
}

@media only screen and (max-width: 600px) {
    .players_container{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        gap: 45px;
    }
  }