.shop_container{
    display: grid;
    grid-template-columns:4fr 1fr ;
}
.players_container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 45px;
}
.cart-container{
    background-color: #FF9900;
}